<div class="well">
  <ul class="nav nav-pills">
    {{#link-to 'tasks.index' tagName="li"}}<a href="">List all</a>{{/link-to}}
    {{#link-to 'tasks.new' tagName="li"}}<a href="">New Task</a>{{/link-to}}
  </ul>
</div>

{{outlet}}
