<h2 class="col-md-offset-1 text-center">Add a new story</h2>
<div class="col-md-6 col-md-offset-3">
  <div class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-2 control-label">Title</label>
      <div class="col-sm-10">
        {{input type="text" value=model.title class="form-control" placeholder="The title of the Story"}}
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Date</label>
      <div class="col-sm-10">
        {{input type="date" value=model.dueDate class="form-control" placeholder="The date of the Story"}}
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default" {{action 'saveStory' model}}>Add Story</button>
      </div>
    </div>
  </div>
</div>
