<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title">
      <b>Story: {{model.title}} </b>
    </h1>
  </div>
  <div class="panel-body">
    <b>Date: {{model.dueDate}} </b>
    <h2><b>Tasks:</b></h2>
    {{#each model.tasks as |task|}}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1 class="panel-title">
            <b>Task: {{task.name}}</b>
          </h1>
        </div>
        <div class="panel-body">
          <b>Story: {{task.story.title}}</b>
        </div>
      </div>
    {{/each}}
  </div>
</div>
