<div class="row">
  {{#each model as |task|}}
    <div class="col-sm-3">
      <div class="panel panel-default">
        <div class="panel-body text-center">
          <p>Name: <b>{{task.name}}</b></p>
          <p>Story: {{task.story.title}}</p>
        </div>
        <div class="panel-footer text-center">
          <b>Actions</b>
        </div>
      </div>
    </div>
  {{/each}}
</div>
