<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Trello</a>
    </div>
    <ul class="nav navbar-nav">
      {{#link-to 'index' tagName="li"}}<a href="">Home</a>{{/link-to}}
    </ul>
  </div>
</nav>
