<div class="well">
  <ul class="nav nav-pills">
    {{#link-to 'stories.index' tagName="li"}}<a href="">List all</a>{{/link-to}}
    {{#link-to 'stories.new' tagName="li"}}<a href="">New Story</a>{{/link-to}}
  </ul>
</div>

{{outlet}}
